<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Please Trump It - Make Placeholders Great Again!</title>
    <meta name="description" content="Put up a wall between the quality of your sites and those of others with the Trump Placeholder Generator.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Your styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/style.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/public/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/public/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#001121">
    <!-- Basic meta data, share -->
    <meta property="og:url" content="http://www.pleasetrump.it">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Please Trump It">
    <meta property="og:image" content="http://www.pleasetrump.it/public/assets/img/share-img.jpg">
    <meta property="og:description" content="Put up a wall between the quality of your sites and those of others with the Trump Placeholder Generator.">
    <meta property="og:site_name" content="Please Trump It">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@nicksruggeri">
    <meta name="twitter:creator" content="@nicksruggeri">
    <meta name="twitter:url" content="http://www.pleasetrump.it">
    <meta name="twitter:title" content="Please Trump It">
    <meta name="twitter:description" content="Put up a wall between the quality of your sites and those of others with the Trump Placeholder Generator.">
    <meta name="twitter:image" content="http://www.pleasetrump.it/public/assets/img/share-img.jpg">

    <meta itemprop="name" content="Please Trump It">
    <meta itemprop="description" content="Put up a wall between the quality of your sites and those of others with the Trump Placeholder Generator.">
    <meta itemprop="image" content="http://www.pleasetrump.it/public/assets/img/share-img.jpg">

</head>
<body>
    {% block content %}{% endblock %}
    {% block footer_javascripts %}
        <script src="/public/assets/js/vendor.js"></script>
        <script src="/public/assets/js/scripts.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-87345622-1', 'auto');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');
        </script>
    {% endblock %}
</body>
</html>