@font-face {
    font-family: 'fat-frank';
    src: url('../fonts/fatfrank-free.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fatfrank-free.woff') format('woff'),
         url('../fonts/fatfrank-free.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}